<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>topic table</title>
    {% endblock %}
</head>
<body>
    <center>
        <table border="3px">
            {% block Theading %}
            <tr>
                <th>Topic Name</th>
            </tr>

            {% for i in topics %}
            <tr>
                <td>{{ i.Topic_name }}</td>
            </tr>
            {% endfor %}

            {% endblock %}
        </table>
    </center>
</body>
</html>